<!DOCTYPE html>
<html>
<head>
  <title>RailsHomeWork Application</title>
</head>

<body>
    <style>
    h1 {color: blue;text-align: center;}
    a {color: green;}
    </style> 
  <div>
    <h1>Week1</h1>
  </div>

  <div>
    <table>
    	<tr><td>Week:</label></td><td><%= @homework.week %></td></tr>
    	<tr><td>Difficulty Level:</label></td><td><%= @homework.difficulty_level %></td></tr>
    	<tr><td>Description:</label></td><td><%= @homework.description %></td></tr>
    </table>
  </div>
</body>
</html>
